*
{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
    user-select:none;
    font-family: Avenir Next, sans-serif;
}

nav{
    width:100%;
    position: fixed;
    display: flex;
    z-index: 99;
    align-items: center;
    letter-spacing: 1rem;
    border-bottom: 2px solid;
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom:0.5%;
    padding-top:1%;
    /* margin-top:1%; */
    width:100%;
    font-size: 1.5rem;
    font-weight: bolder;
}

nav > .nav-section {
    display: flex;
    justify-content: center;
    place-items: center;
    width: calc(100% / 3);
    gap:6rem;
}
a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index:-1;
}

section{
    display:flex;
    min-height:100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color:rgb(255, 255, 255);
    padding-left:5%;
    padding-right:5%;
    place-items:center;
    gap:8em;
}
#landing{
    /* color:rgb(0, 0, 0, 0.5); */
    display: grid;
    justify-content:center;
    place-items:center;
    mix-blend-mode: exclusion;
}
h1{
    font-size: 28rem;
}
h2{
    font-size:4em
}
p{
    font-size:3em;
}
.text{
    display:block;
}
.halftext{
    display:grid;
    width:40%;
}
.image{
    display:flex;
    width:55%;
    height:100%;
}
.image img{
    transition: all 1.5s ease;
    width:100%;
}
.workflow{
    width:95%;
    display:flex;

}
.glyph{
    width:calc(100% / 3);
    display:grid;
    justify-content: center;
    place-items: center;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #ffffff;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: black;
  }
  
  *::-webkit-scrollbar-thumb {
    /* background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(131, 131, 131) 0%, rgb(255, 255, 255) 100%); */
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(141, 141, 141) 51%, rgb(0, 0, 0) 100%);
    border-radius: 1px;
  }